<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-button color="dark" (click)="evento()">Vista 1</ion-button>
<br>
<ion-button color="secondary"(click)="evento2()">Vista 2</ion-button>
<br>
<ion-button color="tertiary"(click)="evento3()">Vista 3</ion-button>
<br>
<ion-button color="success"(click) ="evento4()">Vista 4</ion-button>
<br>
<ion-button color="warning"(click) ="evento5()">Vista 5</ion-button>
<br>
<ion-button color="medium"(click) ="evento6()">Vista 6</ion-button>



</ion-content>
